<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.mapper2.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="com.ssm.bean2.Employee" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="last_name" property="lastName" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="salary" property="salary" jdbcType="DECIMAL" />
    <result column="dept_id" property="deptId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_employee
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.bean2.Employee" >
    insert into t_employee (id, last_name, email, 
      gender, birthday, salary, 
      dept_id)
    values (#{id,jdbcType=INTEGER}, #{lastName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{gender,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{salary,jdbcType=DECIMAL}, 
      #{deptId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ssm.bean2.Employee" >
    update t_employee
    set last_name = #{lastName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      salary = #{salary,jdbcType=DECIMAL},
      dept_id = #{deptId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, last_name, email, gender, birthday, salary, dept_id
    from t_employee
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, last_name, email, gender, birthday, salary, dept_id
    from t_employee
  </select>
</mapper>